.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: rgb(159, 183, 56);
    border: 1px solid black;
    grid-template-columns: repeat(4,100px)
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header header " "main main.sidebar" "footer footer footer footer";
    column-gap: 10px;
    justify-items: center;
    align-items:center ;
    place-items: center;
    justify-content:center ;
    /* horizontal movement */
    align-content:center;
    /* vrtically movement  */
    grid-auto-columns: ;
    grid-auto-flow: ;

    


.item{
    height: 100px;
    width: 100px;
    background-color: rgb(13, 169, 112);
    border: 1px solid black;
    text-align: center;
    color: white;
}  
/* .item1{
    grid-area: header;
    justify self start|end|center|align.
}
.item2{
     grid-area: main;
} 
.item3{
    grid-area: sidebar;
}
.item4{
    grid-row: footer;
} */