
}
/* div{
    height:200px ;
    width: 200px;
    color: rgb(209, 99, 20);
    background-color: rgb(22, 8, 3);
    text-align: center;
    align-content: center;
    padding: 20px ;
    margin: 30px 100px;
    border:5px dashed red;
} */
 /* div{
    height: 200px;
     width: 200px;
    color: blue;
     background-color: rgb(49, 123, 123);
     border: 10px solid rgb(2, 13, 35);
     padding: 10 px;
     margin: 10px;
     height: 200px;
     width: 200px;
    
    
 }
 p{ color: red;} */
 /* .ak{
    display:block;
 }
 .ak1{
    display: block;
 } */
  .container{
    
display: block;
    height: 200px;
    width: 100px;
    border: 2px solid black;
    padding:10px ; 

  }
 .box{
    height: 100px;
    width: 90px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
 }
   
 .box1{
    background-color: rgb(175, 209, 39);
 }
 .box2{
    background-color: rgb(130, 8, 8);
 }
 .box3{
    background-color: rgb(141, 206, 206);
 }