
}
/* div{
    height:200px ;
    width: 200px;
    color: rgb(209, 99, 20);
    background-color: rgb(22, 8, 3);
    text-align: center;
    align-content: center;
    padding: 20px ;
    margin: 30px 100px;
    border:5px dashed red;
} */
 /* div{
    height: 200px;
     width: 200px;
    color: blue;
     background-color: rgb(49, 123, 123);
     border: 10px solid rgb(2, 13, 35);
     padding: 10 px;
     margin: 10px;
     height: 200px;
     width: 200px;
    
    
 }
 p{ color: red;} */