
}
/* div{
    height:200px ;
    width: 200px;
    color: rgb(209, 99, 20);
    background-color: rgb(22, 8, 3);
    text-align: center;
    align-content: center;
    padding: 20px ;
    margin: 30px 100px;
    border:5px dashed red;
} */
 /* div{
    height: 200px;
     width: 200px;
    color: blue;
     background-color: rgb(49, 123, 123);
     border: 10px solid rgb(2, 13, 35);
     padding: 10 px;
     margin: 10px;
     height: 200px;
     width: 200px;
    
    
 }
 p{ color: red;} */
 /* .ak{
    display:block;
 }
 .ak1{
    display: block;
 } */
  .container{
    

    height: 500px;
    width: 500px;
    border: 6px solid black;
  
   

  }
.ak5{ 
   width: 170px;
   height: 230px;
   display: inline-block; margin: 20px;
   text-align: center;
   text-decoration: rgb(245, 139, 0);
   border: 2px solid black;
}
 
 
   
 .box1{
    background-color: rgb(175, 209, 39);
    
    
   

 }
 .box2{
    background-color: rgb(130, 8, 8);
    
    
      
 }
 .box3{
    background-color: rgb(141, 206, 206);
  
 }