div{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    padding: 20px; 
    background-color: rgb(144, 109, 177);
    clear: both;
    

}
.p{
    float: right;
}
span{
    background-color: rgb(147, 166, 182);
}