body{
    margin: 0;

    font-family: 'Times New Roman', Times, serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: irem;
}
.logo{
    color: #fff;
    font-size: 1.5rem;
}
.menu{
    display: none;
    flex-direction: column;
}
.menu a{
    color: yellow;
    padding: 1rem;
    text-decoration: none;
    display: block;
}
.hamburger{
    cursor: pointer;
    color: #fff;
    font: 2rem;
}
@media(min-width:768px)
{.menu{
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
}}
